<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    Mentions Légales
                </h1>
                <!-- <small>Configure in config.js as legal state.</small> -->
            </div>
        </div>
        <div class="col-lg-12">

                    <div class="ibox">
                        <div class="ibox-content">
                            <!-- <div class="pull-right">
                                <button class="btn btn-white btn-xs" type="button">Model</button>
                                <button class="btn btn-white btn-xs" type="button">Publishing</button>
                                <button class="btn btn-white btn-xs" type="button">Modern</button>
                            </div> -->
                            <!-- <div class="text-center article-title">
                                <span class="text-muted"><i class="fa fa-clock-o"></i> 28th Oct 2015</span>
                                <h1>
                                    Behind the word mountains
                                </h1>
                            </div> -->
                            <!-- <p>
                                Many desktop publishing packages and web page editors now use <strong>Lorem Ipsum as their default model
                                    text</strong>, and a search for 'lorem ipsum' will uncover many web
                            </p> -->
                            
                            <h2>Avis de non responsabilité</h2>    
                            <p> 
                                Renvois et liens
                                La présente publication comporte des liens ou renvois vers des sites Internet externes. Les contenus des sites externes
                                liés relèvent de la responsabilité des fournisseurs ou hébergeurs de ces sites. Lors du premier référencement, la GIZ a
                                vérifié si le contenu de tiers n’était pas de nature à entraîner une responsa¬bilité civile ou pénale. Cependant, il ne
                                saurait être raisonnablement envisagé de procéder à un contrôle permanent du contenu des sites liés en l’absence
                                d’indices concrets de violation du droit. Si la GIZ constate ou si on lui signale qu’une offre externe pour laquelle
                                elle a mis un lien à disposition soulève une responsabilité civile ou pénale, le lien correspondant sera immédiatement
                                supprimé. La GIZ se démarque expressément de tels contenus.
                            </p>
                            
                            <h2>Matériel cartographique</h2>

                            <p>
                                Les représentations cartographiques ne servent qu’à des fins d’information et n’ont pas valeur de reconnaissance
                                juridique de frontières ou de régions. La GIZ n’assume aucune garantie en ce qui concerne l’actualité, l’exactitude ou
                                l’exhaustivité du matériel cartographique mis à disposition. Toute responsabilité concernant des dommages ayant été
                                provoqués, de façon directe ou indirecte, par leur utilisation est exclue.
                            </p>
                             
                            <h3>Mentions Légales </h3>
                            <pre>
Bonn and Eschborn Germany

Friedrich-Ebert-Allee 36 + 40
53113 Bonn
Germany
T +49 228 44 60-0
F +49 228 44 60-17 66

Dag-Hammarskjöld-Weg 1 - 5
65760 Eschborn
Germany
T +49 61 96 79-0
F +49 61 96 79-11 15
I www.giz.de

II. Registered at

Local court (Amtsgericht) Bonn, Germany: HRB 18384
Local court (Amtsgericht) Frankfurt am Main, Germany: HRB 12394

III. VAT no

DE 113891176

IV. Chairperson of the Supervisory Board

Martin Jäger State Secretary at the Federal Ministry for Economic Cooperation and Development

V. Management Board

Tanja Gönner (Chair of the Management Board) Thorsten Schäfer-Gümbel
                            </pre>
                            
                             
                        </div>
                    </div>
        </div>
    </div>
</div>