
<div class="wrapper wrapper-content animated fadeInUp" ng-controller="MapCtrl as map">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    {{map.helloText}}
                </h1>
                <small>
                    {{map.descriptionText}}
                </small>
            </div>
        </div>
        <div class="col-lg-12">
            <leaflet event-broadcast="events"  paths="paths" lf-center="center" markers="markers" layers="layers" geojson="geojson" width="100%" height="550px"></leaflet>
            <!--<h1>Marker Events example</h1>
             <ul>
                <li><strong ng-bind="eventDetected"></strong> event caught in listener.</li>
            </ul>

            <pre>{{map.lastEvent | json}}</pre> -->
        </div>
    </div>
</div>