<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <!--<div class="profile-element" uib-dropdown>
                   <a uib-dropdown-toggle href>
                         <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{main.userName}}</strong>
                             </span> 
                        <span class="text-muted text-xs block">Example menu<b class="caret"></b></span>
                        </span>
                    </a>
                    <ul uib-dropdown-menu="" class="animated fadeInRight m-t-xs">
                        <li><a href="">Logout</a></li>
                    </ul>
                </div>-->
                <div class="logo-element">
                    PADER
                </div>

            </li>

            <li ui-sref-active="active">
                <a ui-sref="index.map"><i class="fa fa-map-marker"></i> <span class="nav-label">CARTE</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.regactivity" href="/index/regactivity"><i class="fa fa-globe"></i> <span
                        class="nav-label">Communes d'intervention</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.valuechain" href="/index/valuechain"><i class="fa fa-star"></i> <span
                        class="nav-label">Cha&icirc;ne de valeur</span></a>
            </li>
            <!-- <li ui-sref-active="active">
                <a ui-sref="index.main"><i class="fa fa-laptop"></i> <span class="nav-label">Main page</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.minor"><i class="fa fa-desktop"></i> <span class="nav-label">Minor page</span></a>
            </li> -->
            <li ui-sref-active="active">
                <a ui-sref="index.aboutgizpader" href="/index/aboutgizpader"><i class="fa fa-file-archive-o"></i> <span class="nav-label">PADER</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.aboutapp" href="/index/aboutapp"><i class="fa fa-info-circle"></i> <span class="nav-label">A
                        Propos</span></a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="index.legal"><i class="fa fa-file"></i> <span class="nav-label">Mentions Légales</span></a>
            </li>
        </ul>

    </div>
</nav>